extends ../base

block content
    h2.intro-y.text-lg.font-medium.mt-10
        | Articles
    .grid.grid-cols-12.gap-6.mt-5
        .intro-y.col-span-12.flex.flex-wrap.items-center.mt-2(class="sm:flex-no-wrap")
            a.button.text-white.bg-theme-1.shadow-md.mr-2(href=baseUrl+'/articles/new') Add New Article
            if totalPages
                .hidden.mx-auto.text-gray-600(class="md:block") Showing #{(page-1)*limit + 1} to #{Math.min(page*limit, Math.min(totalPages*limit, totalArticles))} of #{Math.min(totalPages*limit, totalArticles)} entries
            .w-full.mt-3(class="sm:w-auto sm:mt-0 sm:ml-auto md:ml-0")
                .w-56.relative.text-gray-700
                    input.input.w-56.box.pr-10.placeholder-theme-13(type="text" placeholder="Search...")
                    i.w-4.h-4.absolute.my-auto.inset-y-0.mr-3.right-0(data-feather="search")
        // BEGIN: Data List
        if totalPages
            .intro-y.col-span-12.overflow-auto(class="lg:overflow-visible")
                table.table.table-report.-mt-2
                    thead
                        tr
                            th.whitespace-no-wrap IMAGE
                            th.whitespace-no-wrap TITLE
                            th.whitespace-no-wrap CATEGORY
                            th.text-center.whitespace-no-wrap PUBLISHED ON
                            th.text-center.whitespace-no-wrap AUTHOR
                            th.text-center.whitespace-no-wrap STATUS
                            th.text-center.whitespace-no-wrap ACTIONS
                    tbody
                        each article in articles
                            tr.intro-x
                                td.w-40
                                    .flex
                                        .w-10.h-10.image-fit.zoom-in
                                            img.tooltip.rounded-full(alt="Article image" src=article.imagePath ? "/api/uploads/"+article.imagePath : "/admin/images/preview-11.jpg" title="Article image")                            
                                td
                                    a.font-medium.whitespace-no-wrap(href="") #{article.title.substr(0, 20)}
                                td.text-center #{article.category}
                                td.text-center #{article.publishedOnStr}
                                td.text-center #{article.author.name}
                                td.w-40
                                    if article.activeStatus
                                        .flex.items-center.justify-center.text-theme-9
                                            i.w-4.h-4.mr-2(data-feather="check-square")
                                            |  Active
                                    else
                                        .flex.items-center.justify-center.text-theme-6
                                            i.w-4.h-4.mr-2(data-feather="check-square")
                                            |  Inactive
                                td.table-report__action.w-56
                                    .flex.justify-center.items-center
                                        a.flex.items-center.mr-3(href=baseUrl+'/articles/edit/'+article.id)
                                            i.w-4.h-4.mr-1(data-feather="check-square")
                                            |  Edit
                                        a.flex.items-center.text-theme-6(href=baseUrl+'/articles/delete/'+article.id)
                                            i.w-4.h-4.mr-1(data-feather="trash-2")
                                            |  Delete
            // END: Data List
            // BEGIN: Pagination
            if totalPages
                .intro-y.col-span-12.flex.flex-wrap.items-center(class="sm:flex-row sm:flex-no-wrap")
                    ul.pagination
                        li
                            a.pagination__link(href=`${baseUrl}/articles?page=1&&limit=${limit}`)
                                i.w-4.h-4(data-feather="chevrons-left")
                        li
                            a.pagination__link(href= page==1 ? '#':`${baseUrl}/articles/?page=${page-1}&&limit=${limit}`)
                                i.w-4.h-4(data-feather="chevron-left")
                        li
                            a.pagination__link(href="") ...
                        - var first = page <= 5 ? 1 : 1 + (page - 5);
                        - var fifth = Math.min(totalPages, first + 4);
                        while first <= fifth
                            li
                                a.pagination__link(href=`${baseUrl}/articles?page=${first}&&limit=${limit}` class= first===page && 'pagination__link--active') #{first}
                            - first++
                        li
                            a.pagination__link(href="") ...
                        li
                            a.pagination__link(href= page==totalPages ? '#':`${baseUrl}/articles/?page=${page+1}&&limit=${limit}`)
                                i.w-4.h-4(data-feather="chevron-right")
                        li
                            a.pagination__link(href=`${baseUrl}/articles?page=${totalPages}&&limit=${limit}`)
                                i.w-4.h-4(data-feather="chevrons-right")
                    select.w-20.input.box.mt-3(class="sm:mt-0" onchange="location=this.value")
                        each item in [10, 25, 35, 50]
                            option(selected= limit===item value=`${baseUrl}/articles?limit=${item}`) #{item}
            else
                p No articles published
            // END: Pagination
        else
            div.col-span-12(style='text-align:center') No articles published  
