extend ../base

block body
  body.login
    .container(class="sm:px-10")
      .block.grid-cols-2.gap-4(class="xl:grid")
        .hidden.flex-col.min-h-screen(class="xl:flex")
          a.-intro-x.flex.items-center.pt-5(href="")
            img.w-6(alt="Legalgram" src="/images/logo.svg")
            span.text-white.text-lg.ml-3
              | Legalgram
          .my-auto
            img.-intro-x.-mt-16(alt="Legalgram" class="w-1/2" src="/images/illustration.svg")
            .-intro-x.text-white.font-medium.text-4xl.leading-tight.mt-10
              | A few more clicks to 
              br
              | sign in to your account. #{email}
            .-intro-x.mt-5.text-lg.text-white Legalgram tag line
        form(method='POST' action=baseUrl+'/password/verify-otp')
          .h-screen.flex.py-5.my-10(class="xl:h-auto xl:py-0 xl:my-0")
          .my-auto.mx-auto.bg-white.px-5.py-8.rounded-md.shadow-md.w-full(class="xl:ml-20 xl:bg-transparent sm:px-8 xl:p-0 xl:shadow-none sm:w-3/4 lg:w-2/4 xl:w-auto")
            h2.intro-x.font-bold.text-2xl.text-center(class="xl:text-3xl xl:text-left")
              | Forgot Password
            .intro-x.mt-2.text-gray-500.text-center(class="xl:hidden")
              | Legalgram tag line
            .intro-x.mt-8
              input.intro-x.login__input.input.input--lg.border.border-gray-300.block(type="text" placeholder="Enter OTP" name="otp" value=inputParams && inputParams.otp)
              .text-theme-6.mt-2 #{inputErrors && inputErrors.otp || errorMsg}
              input(type="hidden" name='email' value=email || inputParams.email)
            .intro-x.mt-5.text-center(class="xl:mt-8 xl:text-left")
              button.button.button--lg.w-full.text-white.bg-theme-1(class="xl:w-32 xl:mr-3") Submit
    script(src="/js/app.js")